body{
    background-image: url(./images/yb.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:url(./images/rocket-svgrepo-com.svg) 5 5, auto;
    color: white;
        
}
.title{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sections{
    text-align: left;
    border-radius: 1rem;
    background-color: rgba(86, 86, 210, 0.7);
    border: 2px solid transparent;
    padding:2rem;
    margin: 2rem;
}
.sections:hover{
    border: 2px solid white ;
}
.personalinformations{
    text-align: center;
}
.nav-bar{
    text-decoration: none;
    text-align: center;
    padding-left: 0%;
}
.nav-bar li{
    margin: auto 1rem;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(86, 86, 210,0.7);
    margin: 2rem;
}
.nav-bar li:hover{
    border: 2px solid white;
}
a {
    text-decoration: none;
    cursor: inherit;
    color: white;
}
.buton{
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 2rem;
    border: 2px solid transparent;
    margin: auto;
    cursor: inherit;
    padding: 0.5rem;
}
.buton:hover{
    border: 2px solid white;
}
table th{
    border: 2px solid black;
}
table td{
    border: 2px solid black;
    background-color: grey;
    color: black;
    text-align: center;
}
.a-button{
    color: black;
    background-color: orange;
    border-radius: 1rem;
    margin-bottom: -5px;
    margin-right: 2px;
    padding: 0 10px;
}
.footer{
    text-align: center;
    border-radius: 1rem;
    border: 2px solid transparent;
    padding:2rem;
    margin: 2rem;
    background-color: rgba(86, 86, 210, 0.7);
}
.secondsections{
    text-align: center;
}
.input{
    border-radius: 1rem;
    border: 2px solid black;
    padding:1rem;
    margin: 1rem;
}
