body {
    background-image: url(images/yb.jpg);
}

#title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#nav-bar {
    text-decoration: none;
    color: white;
    text-align: center;
}

#nav-bar:hover {
    border: 2px solid white;
}

a {
    color: white;
    text-decoration: none;
}

#nav-bar li {
    display: inline;


    padding: 1rem;
    margin: 0;
    border-radius: 10px;
    background-color: rgb(86, 86, 210);
}

#bleart {
    text-align: center;
    color: white;
    border-radius: 1rem;
    background-color: rgb(86, 86, 210);
}

#bleart:hover {
    border: 2px solid white;
}

#education {
    color: white;
    text-align: left;
    border-radius: 1rem;
    background-color: rgb(86, 86, 210);
}

#education:hover {
    border: 2px solid white;
}

.a-button {
    color: black;
    background-color: orange;
    border-radius: 1rem;
    margin-bottom: -5px;
    margin-right: 2px;
}

#projects {
    padding: auto;
    color: white;
    border-radius: 1rem;
    text-align: left;
    background-color: rgb(86, 86, 210);
}

#projects:hover {
    border: 2px solid white;
}

#skills-table {
    background-color: rgb(86, 86, 210);
    border-radius: 1rem;
    color: white;
}

#skills-table:hover {
    border: 2px solid white;
}

td {
    border: 2px solid black;
    color: white;
}

th {
    border: 2px solid black;
    background-color: grey;
    color: black;
}

#Backtotopofthepage {
    color: white;
    background-color: orange;
    border-radius: 1rem;
}

#Backtotopofthepage:hover {
    border: 2px solid white;
}

#footer {
    background-color: rgb(86, 86, 210);
    border-radius: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;

}